.body{

    background-color: white;   
  
}

h1{

  font-family: 'Abril Fatface', cursive;;
}


.image-size{

  height: 500px;
  width: auto;
  padding-right: 25px;


}


footer{
  
  background-color: black;

  text-decoration: none;
  




}

.fa-brands {

 color: white;
 font-size: 25px;

}

ul{

 list-style: none;

}